@import '../../../../vendor/filament/filament/resources/css/theme.css';


/* تخصيصاتك */
/*
.fi-ta-ctn .fi-ta-header-ctn {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 1rem !important;
}

.fi-wi-table .fi-ta-header-toolbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fi-ta-search {
    max-width: 400px;
}

.fi-ta-header-heading {
    margin: 0 !important;
}
*/